body {
  display: flex;
  justify-content: center;
}

.box {
  background-color: rgb(252, 224, 187);
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 3rem;
  color: rgb(137, 27, 137);
}
